<div class="box box-color box-bordered  {{class}}">
    <div class="box-title">
        <h3>
            <i class="fa fa-bar-chart-o {{icon}}"></i>
             {{title}}
        </h3>
        <div class="actions">
            <a href="javascript:;" class="btn btn-mini content-refresh"><i class="fa fa-refresh"></i></a>
            <a href="javascript:;" class="btn btn-mini content-remove" ng-click="remove()"><i class="fa fa-times"></i> </a>
            <a href="javascript:;" class="btn btn-mini content-slideUp" ng-click="toggle()"><i class="fa " ng-class="{'fa-angle-up':!showMe,'fa-angle-down':showMe }"></i></a>
        </div>
    </div>
    <div class="box-content nopadding ng-transclude" ng-show="showMe">

    </div>
</div>