<!DOCTYPE html>
<html lang="zh-CN" ng-controller="LayoutController">
<head>
    <meta charset="utf-8">
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>

    <script data-main="js/main" src="lib/require/require-2.1.0.js"></script>
    <!--<script data-main="js/main-built" src="lib/require/require.min.js"></script>-->
    <title ng-bind="title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reunion">
    <meta name="author" content="Pactera">

    <link rel="shortcut icon" href="img/logo.gif">
    <!--[if lt IE 9]>
    <script type="text/javascript" charset="UTF-8" src="lib/html5shiv.js"></script>
    <![endif]-->

    <!--    <script type="text/javascript" charset="UTF-8" src="lib/angular/angular.js"></script>-->

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel='stylesheet' href='lib/bootstrap/css/bootstrap-responsive.css'/>

    <link rel="stylesheet" href="css/base.css" type='text/css' media="all"/>
    <link href='themes/glowsimple/default.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" href="themes/admin.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel='stylesheet' href='lib/uniform/themes/default/css/uniform.default.css'/>
</head>


<body class="ng-cloak" ng-cloak>

<div class="wrap_top_nav">
    <nav id="top_nav">
        <span class="logo"><a href="javascript;"> &nbsp</a></span>
        <ul class="inline-style clearfix" ng-click="setActive($event)">
            <li ng-repeat="nav in navBars" ng-click="selectNav($index)" ng-class="{active: $index==selectedRow}">
                <a ng-href="{{nav.url}}" ng-bind="nav.name"></a>
            </li>


        </ul>
        <div class="right_nav">
               <span class="add-on">
                <a modalbox href="javascript:;" title="message"><span class="icon-envelope mr20" title="message"></span><span
                        class="tap-nav-pic">2</span> </a>
                 <a href="javascript:;" title="settings"><span class="icon-cog mr20" title="Settings"></span> </a>
                     <a href="javascript:;"><span class=" mr20">Hello,韩青锋</span> </a>
                         <a href="javascript:;" title="logout"> <span class="icon-signout mr20"></span> </a>
               </span>

        </div>
    </nav>
</div>
    <div class="navigation">
        <div>
            <input  type="text" placeholder="Search">
            <span class="search-pic"></span>
        </div>
        <ul class="navr">
            <li><a>Overview</a><i class="icon-a"></i></li>

            <li  ><a>Feeds</a><i class="icon-b"></i>
                <ul class="second">

                    <li ng-repeat="topic in Topics"  ng-click="topicSelected(topic)"><a>{{topic.Name}}</a></li>
                    <!--<li  class="current"><a >Topic2</a></li>
                    <li><a >Topic3</a></li>-->
                </ul>
            </li>
        </ul>
    </div>

    <div class="page" ng-view="">


    </div>
<div class="footer">
    <nav  >

        <span class="footer-message">@2012Pactera US RDS-PDS Octopus Team</span>
        <span class="footer-logo"><a href="javascript;"> &nbsp</a></span>
    </nav>
</div>
</body>
<script type="text/javascript" charset="UTF-8" src="lib/prefixfree.min.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript">
    document.body.innerHTML = "<div style='color:red; margin:0 auto; font-size:18px;'>" +
            "您的浏览器实在太老了！请更新最新的浏览器吧！" +
            "<a href='http://download.microsoft.com/download/5/D/4/5D405568-02E9-414D-BA52-A8D9890C1D31/IE10-Windows6.1-zh-cn.exe' >IE10</a>" +
            "|<a href='https://dl.google.com/tag/s/appguid%3D%7B8A69D345-D564-463C-AFF1-A69D9E530F96%7D%26iid%3D%7B0D7D90D0-1294-AFB2-9950-D49F3DDE4495%7D%26lang%3Dzh-TW%26browser%3D4%26usagestats%3D0%26appname%3DGoogle%2520Chrome%26needsadmin%3Dprefers%26installdataindex%3Ddefaultbrowser/update2/installers/ChromeSetup.exe'>chrome</a>" +
            "</div>";
</script>
<![endif]-->
