<!DOCTYPE html >
<html lang="en" ng-controller="LayoutController">

<head>
    <meta charset="utf-8">
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/icon/reunion-r.png">
    <title ng-bind="title"></title>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="lib/bootstrap3/css/bootstrap.css"/>
    <link rel='stylesheet' href='lib/angular-strap/bootstrap-datepicker.css'/>
    <link rel='stylesheet' href='lib/font-awesome-4.0.3/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='lib/icheck/skins/minimal/blue.css'/>
  <!--  <link href='css/default.css' rel='stylesheet' type='text/css'>-->

    <!-- Custom styles for this template -->
    <link href="themes/default/default.css" rel="stylesheet">

    <script data-main="js/main" src="lib/require/require-2.1.0.js"></script>
    <!-- Just for debugging purposes. Don't actually copy this line! -->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-cloak class="ngclock" >
<div id="navigation">
    <div class="container">
        <div class="navbar navbar-static-top">
            <div class="navbar-header">
                <button type="button " class="navbar-toggle visible-xs" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <a class="navbar-brand top-logo" href="#"></a>
                <a class="toggle-nav" href="javascript:;" ng-click="hiddenMenu()">
                    <span class="glyphicon glyphicon-align-justify hidden-xs" id="closeSet"></span>
                </a>
            </div>
            <!-- navbar-header end -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav active">

                    <li  ng-repeat="nav in navBars" ng-click="selectNav($index)"   ng-class="{active: $index==selectedRow}">
                        <a ng-href="{{nav.url}}" ng-bind="nav.name">
                            <span>Dashboard</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- navbar-collapse end -->
            <div class="user" style="float:right;">
                <div class="div">
                    <li class="dropdown sett">
                        <a href="#" class='dropdown-toggle nav-icon visible-lg visible-md' data-toggle="dropdown"><i
                                class="fa fa-envelope icon-message"></i><span
                                class="label label-lightred icon-message-count">4</span></a>
                        <ul class="dropdown-menu pull-right message-ul">
                            <li>
                                <a href="#">
                                    <img src="assets/img/demo/user-1.jpg" alt="">

                                    <div class="details">
                                        <div class="name">Jane Doe</div>
                                        <div class="message">
                                            Lorem ipsum Commodo quis nisi ...
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/demo/user-2.jpg" alt="">

                                    <div class="details">
                                        <div class="name">{{UserName}}</div>
                                        <div class="message">
                                            Ut ad laboris est anim ut ...
                                        </div>
                                    </div>
                                    <div class="count">
                                        <i class="icon-comment"></i>
                                        <span>3</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/demo/user-3.jpg" alt="">

                                    <div class="details">
                                        <div class="name">Bob Doe</div>
                                        <div class="message">
                                            Excepteur Duis magna dolor!
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="components-messages.html" class='more-messages'>Go to Message center <i
                                        class="fa fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="div">
                    <li class="dropdown sett">
                        <a href="#" class='dropdown-toggle nav-icon visible-lg visible-md' data-toggle="dropdown"><i
                                class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu pull-right theme-settings">
                            <li>
                                <span>Layout-width</span>

                                <div class="version-toggle">
                                    <a href="#" class='set-fixed'>Fixed</a>
                                    <a href="#" class="active set-fluid">Fluid</a>
                                </div>
                            </li>
                            <li>
                                <span>Topbar</span>

                                <div class="topbar-toggle">
                                    <a href="#" class='set-topbar-fixed'>Fixed</a>
                                    <a href="#" class="active set-topbar-default">Default</a>
                                </div>
                            </li>
                            <li>
                                <span>Sidebar</span>

                                <div class="sidebar-toggle">
                                    <a href="#" class='set-sidebar-fixed'>Fixed</a>
                                    <a href="#" class="active set-sidebar-default">Default</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="div">
                    <li class='dropdown language-select'>
                        <a href="#" class='dropdown-toggle visible-lg visible-md' data-toggle="dropdown"><img
                                src="assets/img/demo/flags/us.gif" alt=""><span>US</span></a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#"><img src="assets/img/demo/flags/br.gif" alt=""><span>Brasil</span></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/img/demo/flags/de.gif" alt=""><span>Deutschland</span></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/img/demo/flags/es.gif" alt=""><span>España</span></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/img/demo/flags/fr.gif" alt=""><span>France</span></a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="dropdown div">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">{{UserName}}<img
                            src="assets/img/demo/user-avatar.jpg" alt=""></a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">Edit profile</a>
                        </li>
                        <li>
                            <a href="javascript:;">Account settings</a>
                        </li>
                        <li>
                            <a  ng-click="logout()" href="javascript:;">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- navbar end -->
    </div>
    <!-- container end -->
</div>
<div class="container">
    <div class="row fixed-bg" ng-class="{hiddenMenu:!show }">
        <div id="left" class="hidden-xs">
            <form action="search-results.html" method="GET" class=''>
                <div class="input-group search">
                    <input type="text" class="form-control" placeholder="Search here...">
                    <span class="input-group-addon" style="cursor:pointer"> <i
                            class="glyphicon glyphicon-search"></i></span>
                </div>
            </form>
            <div ng-include="menuUrl" ng-controller="LeftMenuCtrl"></div>
          <!--  <div class="subnav">
                <div class="subnav-title">
                    <a class='toggle-subnav' data-toggle="collapse" data-toggle="collapse" href="#subnav1"><i
                            class="glyphicon glyphicon-chevron-down"></i><span>Content</span></a>
                </div>
                <ul class="subnav-menu collapse" id="subnav1">
                    <li class='dropdown'>
                        <a href="#" data-toggle="dropdown">Articles</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action #1</a>
                            </li>
                            <li>
                                <a href="#">Antoher Link</a>
                            </li>
                            <li class='dropdown-submenu'>
                                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Go to level 3</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">This is level 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Unlimited levels</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy to use</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="#">Comments</a>
                    </li>
                </ul>
            </div>
            <div class="subnav">
                <div class="subnav-title">
                    <a class='toggle-subnav' data-toggle="collapse" data-toggle="collapse" href="#subnav2"><i
                            class="glyphicon glyphicon-chevron-down"></i><span>Plugins</span></a>
                </div>
                <ul class="subnav-menu collapse" id="subnav2">
                    <li>
                        <a href="#">Cache manager</a>
                    </li>
                    <li class='dropdown'>
                        <a href="#" data-toggle="dropdown">Import manager</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action #1</a>
                            </li>
                            <li>
                                <a href="#">Antoher Link</a>
                            </li>
                            <li class='dropdown-submenu'>
                                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Go to level 3</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">This is level 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Unlimited levels</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy to use</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contact form generator</a>
                    </li>
                    <li>
                        <a href="#">SEO optimization</a>
                    </li>
                </ul>
            </div>
            <div class="subnav">
                <div class="subnav-title">
                    <a class='toggle-subnav' data-toggle="collapse" data-toggle="collapse" href="#subnav3"><i
                            class="glyphicon glyphicon-chevron-down"></i><span>Settings</span></a>
                </div>
                <ul class="subnav-menu collapse" id="subnav3">
                    <li>
                        <a href="#">Theme settings</a>
                    </li>
                    <li class='dropdown'>
                        <a href="#" data-toggle="dropdown">Page settings</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action #1</a>
                            </li>
                            <li>
                                <a href="#">Antoher Link</a>
                            </li>
                            <li class='dropdown-submenu'>
                                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Go to level 3</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">This is level 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Unlimited levels</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy to use</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Security settings</a>
                    </li>
                </ul>
            </div>
            <div class="subnav subnav-hidden">
                <div class="subnav-title">
                    <a class='toggle-subnav' data-toggle="collapse" data-toggle="collapse" href="#subnav4"><i
                            class="glyphicon glyphicon-chevron-down"></i><span>Default hidden</span></a>
                </div>
                <ul class="subnav-menu collapse" id="subnav4">
                    <li>
                        <a href="#">Menu</a>
                    </li>
                    <li class='dropdown'>
                        <a href="#" data-toggle="dropdown">With submenu</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action #1</a>
                            </li>
                            <li>
                                <a href="#">Antoher Link</a>
                            </li>
                            <li class='dropdown-submenu'>
                                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>More stuff</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">This is level 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy to use</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Security settings</a>
                    </li>
                </ul>
            </div>-->
        </div>
        <div id="main">
            <div id="content" class="container">
                <div class="page-header container">
                  <!--  <div class="pull-left col-md-push-3">
                        <h1>{{pageTitle}}</h1>
                    </div>-->
                    <ul class="stats pull-left">
                        <li class="blue">
                            <i class="fa fa-bar-chart-o"></i>
                            <div class="details">
                                <span class="big">{{info.TotalFeeds}}</span>
                                <span>Total Feeds</span>

                            </div>

                        </li>
                        <li class="green">
                            <i class="fa fa-bell"></i>
                            <div class="details">
                                <span class="big">{{info.TodayFeedsTotal}}</span>
                                <span>Today Feeds</span>
                            </div>
                        </li>
                        <li class="orange">
                            <i class="fa  fa-globe"></i>
                            <div class="details">
                                <span class="big">{{info.TotalSite}}</span>
                                <span>From Sites</span>
                            </div>
                        </li>
                    </ul>
                    <div class="pull-right" >

                        <ul class="stats">

                            <li class="lightred">
                                <i class="fa fa-calendar"></i>
                                <div class="details">
                                    <span class="big">{{reunion.date}}</span>
                                    <span>{{reunion.time}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">{{title}}</li>

                    </ol>
                </div>
                <div class="row main">
                         <!-- /Content Start -->
                    <div class="container page" ng-view=""></div>
                </div>
            </div>
            <div class="footer">
                <div class="copyright">©2013 Pactera US RDS-PDS RDS Octopus Team</div>
                <div class="foot-logo">
                    <a href="http://www.pactera.com"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /container -->
</body>
</html>

