body {margin:0;padding:0;color:#333;font-size:12px;background:#FFF;font-family:arial;}
a {color:#333;text-decoration:none;margin:0;padding:0;}
a:link {color:#333;}
a:hover {color:#333;}
a:active {color:#333;}
a:visited {color:#333;}

html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#E5E5E5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:none;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}

tfoot {font-style:italic;}
caption {background:#eee;}
.clear{ clear:both}

#header {position:relative;top:0;background:#003A83;width:100%;height:38px;border-bottom:3px solid #D61027;color:#FFFFFF;
background-image: -webkit-gradient(linear, 600 bottom , right bottom, color-stop(0, #003A83), color-stop(1, #0072BC)); /* Saf4+, Chrome */
    /*added by miaozhuang*/min-width: 1024px;
}
#header .logo {float:left;width:217px;}
#header .logo a {float:left;display:block;width:90px;height:33px;margin:3px 12px;background:url('../images/bg/reunion-logo-top.png') no-repeat;}

#header .nav {float:left;}
#header .nav .button {float:left;display:block;margin:0 3px;padding-bottom:3px;padding-left:20px;padding-right:20px;height:38px;color:#FFFFFF;font-size:16px;line-height:38px;}
#header .nav .button:hover {color:#333333;background:#FFF;padding-bottom:0px;text-decoration: none;}
#header .nav .selected {color:#333333;background:#FFF;}

#header .userinfo {float:right;line-height:38px;padding:0 15px;
background-image: -moz-linear-gradient(left, #003A83, #0072BC); /* Firefox */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003A83', endColorstr='#FFF', GradientType='0'); /*  IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ff0000")"; /* IE8 */
}
#header .userinfo a {color:#FFFFFF;margin:0 3px;}
#header .userinfo .user {float:left;}
#header .userinfo .message {float:left;display:block;margin-top:5px;text-align: center;color: #ff0000;font-weight:bold;font-size:8px;width:24px;height: 24px;line-height: 26px;background: url('../images/icon/message.png') no-repeat;}
#header .userinfo .setting {float:left;display:block;margin-top:7px;width:24px;height: 24px;background: url('../images/icon/setting.png') no-repeat;}
#header .userinfo .logout {float:left;display:block;margin-top:7px;width:24px;height: 24px;background: url('../images/icon/power.png') no-repeat;}

#container {float:left;width:100%;background:#E5E5E5;}

#leftbar {position:absolute;top:41px;left:0;background:#E5E5E5;width:220px;height:auto;margin:0;}
#leftbar .searchbar {float:left;margin:15px;}
#leftbar .searchbar .input {float:left;width:158px;height:28px;padding:0;border:1px solid #999;border-right:none;background: #FFF;}
#leftbar .searchbar .button {float:left;width:28px;height:28px;margin:0;display:block;border:1px solid #999;border-left:none;background: #FFF url('../images/icon/search.png') no-repeat center;}
#leftbar .navlist {float:left;width:100%;}
#leftbar .navlist .button {float:left;display:block;width:100%;height:36px;line-height:36px;}
#leftbar .navlist .button span {margin-left:20px;font-size:14px;font-weight:bold;}
#leftbar .navlist .sub {float:left;background:#F5F5F5;height:34px;line-height:34px;}
#leftbar .navlist .sub span {margin-left:40px;font-size:14px;font-weight:normal;}
#leftbar .navlist .button:hover {background:#CCC;}
#leftbar .navlist .button .close {float:right;display:block;width:10px;height:10px;margin:15px;background:url("../images/icon/arrow.png") 0 0;}
#leftbar .navlist .button .open {float:right;display:block;width:10px;height:10px;margin:15px;background:url("../images/icon/arrow.png") 0 -10px;}

#maincontent {position:absolute;top:41px;left:220px;right:0;min-height:600px;padding-bottom:30px;background: #FFF url('../images/bg/dw.png') no-repeat right bottom;}
#maincontent .containercrumbs {float:left;width:60%;position: fixed;  top: 0;z-index: 999;}
#maincontent .containercrumbs .text {float:left;margin:15px;font-size:16px;font-weight:bold;margin-left:40px;}

#maincontent .containercontent {float:left;width:100%;margin: 0;padding: 0; /*added by miaozhuang*/ min-width: 804px;}
#maincontent .containercontent .inputdate {float:left;width:158px;height:28px;padding:0;border:1px solid #999;background: #FFF;margin:0 10px;}
#maincontent .containercontent .panel {float:left;margin: 15px;padding: 0;width:97%;}
#maincontent .containercontent .chartpanel {float:left;margin:10px;width:450px;height:350px;border:2px solid #007DC9;}
#maincontent .containercontent .chartpanel .title {float:left;width:100%;height:35px;line-height:35px;background:#007DC9;}
#maincontent .containercontent .chartpanel .title .titlelabel {float:left;margin-left:30px;font-size:14px;color:#FFF;}
#maincontent .containercontent .chartpanel .content {float:left;width:100%;}

#maincontent .containercontent .conditionspanel {float:left;margin: 0;padding: 0;width:100%;border:2px solid #CCC;border-bottom: 1px solid #CCC;}
#maincontent .containercontent .conditionspanel .title {float:left;width:100%;height:35px;line-height:35px;background:#cccccc;}
#maincontent .containercontent .conditionspanel .title .titlelabel {float:left;margin-left:30px;font-size:14px;color:#333333;font-weight: bold;}
#maincontent .containercontent .conditionspanel .content {float:left;width:100%;border-bottom:1px solid #CCC;}
#maincontent .containercontent .conditionspanel .content .cell {float:left;margin: 10px;}
#maincontent .containercontent .conditionspanel .content .item {float:left;}
#maincontent .containercontent .conditionspanel .content .size1 {width:120px;}
#maincontent .containercontent .conditionspanel .content .size5 {}

#maincontent .footer {position:absolute;left:-0;bottom:0;background:#003A83;width:100%;height:30px;color:#FFFFFF;z-index:100;}
#maincontent .footer .logo {float:right;}
#maincontent .footer .logo a {float:right;display:block;width:67px;height:20px;margin:4px 12px;background:url('../images/bg/pactera.png') no-repeat;}
#maincontent .footer .copyright {float:right;line-height:30px;margin-right:20px;}
#maincontent .footer2 {position:absolute;left:-220px;bottom:0;background:#003A83;width:220px;height:30px;color:#FFFFFF;z-index:100;}

/*added by miaozhuang*/
@media screen and (max-width:1040px) {
    #header .userinfo {float: left;  position: fixed;bottom: 1px; background-color:rgb(173, 173, 173);z-index: 999;}

}










