



 <div class="subnav">
             <div class="subnav-title">
                 <a class='toggle-subnav' data-toggle="collapse" data-toggle="collapse" href="#subnav1"><i
                         class="glyphicon glyphicon-chevron-down"></i><span>Content</span></a>
             </div>
             <ul class="subnav-menu collapse in" id="subnav1">


                 <li>
                     <a class="button " ng-click="Feeds.changeStyle(1)"  ng-class="{selected: 1==Feeds.feedMenuSelectRow}" href="#/feeds"><span>Overview</span><span class="close"></span></a>
                 </li>
                 <li>
                     <a class="button" ng-click="Feeds.changeStyle(2)" ng-class="{selected: 2==Feeds.feedMenuSelectRow}"  href="#/group"><span>Group</span><span class="close"></span></a>
                 </li>

             </ul>
         </div>
