<div class="navlist">
    <a class="button" href="javascript:;"><span>Overview</span><span class="close"></span></a>
    <a class="button" href="javascript:;"><span>Topics</span><span class="open"></span></a>
    <a ng-click="topicSelected(topic,$index);Feeds.changeStyle($index)" class="button sub lefttree" ng-class="{selected: $index==feedSelectRow}"  href="javascript:;" ng-repeat="topic in Topics">
        <span>{{topic.Name}} <span ng-click="removeTopic($event,topic)"  class="right icon-remove "></span></span>
    </a>

</div>