<div class="reunioncontent" uniform xmlns="http://www.w3.org/1999/html">
    <div class="pull-left">
        <select>
            <option value="0">Last 7Days</option>
        </select>
    </div>
    or form
    <input class="Wdate" type="text" id="startDate" placeholder=""
           onclick="WdatePicker({el:'startDate',isShowClear:false,readOnly:true})"
           onFocus="var endDate=$dp.$('endDate');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'endDate\')}'})">
    to
    <input class="Wdate" type="text" id="endDate" placeholder=""
           onclick="WdatePicker({el:'endDate',isShowClear:false,readOnly:true})"
           onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startDate\')}'})">


    <div class="search_all">
        <h2 class="titbg search_list clearfix">Alert List:（表达式）</h2>

        <div class="search_list clearfix">
            <div class="title">Define Type:</div>
            <ul class="search_content">
                <li class="input_style"><label><input type="radio" class="radio"/>Source</label></li>
                <li class="input_style"><label><input type="radio" class="radio"/>Source</label></li>
                <li class="input_style"><label><input type="radio" class="radio"/>Source</label></li>
                <li class="input_style"><label><input type="radio" class="radio"/>Source</label></li>
                <li class="input_style"><label><input type="radio" class="radio"/>Source</label></li>
                <li class="input_style"><label><input type="radio" class="radio"/>Source</label></li>
            </ul>
        </div>
        <div class="search_list clearfix">
            <div class="title">RegExpression:</div>
            <ul class="search_content">
                <li class="input_style"><label><input type="text"/></label></li>
            </ul>
        </div>
        <div class="search_list clearfix">
            <div class="title">Valid Period:</div>
            <ul class="search_content">
                form<input type="text"/> to<input type="text"/>
            </ul>
        </div>
        <div class="search_list clearfix">
            <div class="title">Actions: </div>
            <ul class="search_content">
                <input type="checkbox" class="checkbox"/>Remember me<input type="text" placeholder="@"/>
            </ul>

        </div>
        <div class="search_list clearfix">
            <div class="censt">
                <div>
                    <button type="button" class="btn btn-primary">Send Code</button>
                    <button type="button" class="btn btn-primary">Sumulate</button>
                    <button type="button" class="btn btn-primary">Save Alert</button>
                    <button type="button" class="btn btn-primary">Export Alert List</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="s-pk-mod pic-bdle pk-title-blue" data-pkid="26">
            <h5>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg-blue">图表</div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv3'></div>
            </div>
        </div>

        <div class="s-pk-mod pic-bdle pk-title-red">
            <h5>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg-red">图表</div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv4'></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>