<div class="reunioncontent">
    <div class="feeds-search-tools">
        <span>Search <input type="text" ng-model="query"></span>
        <span>
            <select>
                <option>Last 7 Days</option>
                <option>Last month</option>
            </select>

        </span>
        <span>Or from <input type="date"> to <input type="date"> </span>
    </div>
    <div class="feeds_search_condition">
        <h2>Alert List:{{source.brand}}（表达式）</h2>

        <div class="conditions">
            Define Type:
            <div>
                <ul>
                    <li>
                        <label> <input type="radio" ng-model="show1" ng-change="show2=false" name="sex"
                                       value="Topics"/> Topics</label>

                    </li>
                    <li>

                        <label> <input type="radio" ng-model="show2" ng-change="show1=false" name="sex"
                                       value="Fresh New"/> Fresh New</label>
                    </li>
                </ul>
            </div>
            <span ng-show="show1">
              <br>
            <hr>
            Choose Topic:
            <div>
                <ul>
                    <li ng-repeat="st in choosetopics">
                        <label><input type="checkbox" name="{{st}}"/>{{st}}</label>
                    </li>
                </ul>
            </div>  </span>
            <span ng-show="show2"><br>
            <hr>

            Source Type:
            <div>
                <ul>
                    <li ng-repeat="st in sourcetype">
                        <label><input type="checkbox" name="{{st}}"/>{{st}}</label>
                    </li>
                </ul>
            </div>
                 </span>
            <br>
            <hr>
            TimeFrame: <span>  from <input type="date"> to <input type="date"> </span>
            <hr>

            <div>
                <input class="btn btn-primary" type="button" value="Search Again">
                <input class="btn btn-primary" type="button" value="Search Current Set">

            </div>

        </div>

    </div>
    <div class="content">
        <div style="float: left ;width: 400px; margin-right: 20px;margin-left: 40px" class="s-pk-mod" data-pkid="26">
            <h5 class="pk-title"><span>图表</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv3'></div>
            </div>
        </div>

        <div style="float: left ;width: 400px;" class="s-pk-mod" data-pkid="27">
            <h5 class="pk-title"><span>图表</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv4'></div>
            </div>
        </div>
    </div>
</div>
</div>