<div>
    <div class="feeds-search-tools">
        <span>Search <input type="text"></span>
        <span>
            <select>
                <option>Last 7 Days</option>
                <option>Last month</option>
            </select>

        </span>
        <span>Or from <input type="date"> to <input type="date"> </span>
    </div>
    <div class="feeds_search_condition">
        <h2>Feeds List:兰蔻品牌（关键词表达式）</h2>
        <div class="conditions">

        </div>
    </div>
    <div class="content">

    </div>
</div>