<div class="reunioncontent" xmlns="http://www.w3.org/1999/html">
    <div class="pull-left">
        <select>
            <option value="0">Last 7Days</option>
        </select>
    </div>
    or form
    <input class="Wdate" type="text" id="startDate" placeholder=""
           onclick="WdatePicker({el:'startDate',isShowClear:false,readOnly:true})"
           onFocus="var endDate=$dp.$('endDate');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'endDate\')}'})">
    to
    <input class="Wdate" type="text" id="endDate" placeholder=""
           onclick="WdatePicker({el:'endDate',isShowClear:false,readOnly:true})"
           onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startDate\')}'})">



    <div class="search_all">
        <h2 class="titbg search_list clearfix">Feeds List:兰蔻品牌</h2>

        <div class="search_list clearfix">
            <div class="title">Source Type:</div>
            <ul class="search_content">
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
            </ul>
        </div>
        <div class="search_list clearfix">
            <div class="title">Source Type:</div>
            <ul class="search_content">
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
            </ul>
        </div>
        <div class="search_list clearfix">
            <div class="title">Source Type:</div>
            <ul class="search_content">
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
                <li class="input_style"><label><input type="checkbox" class="checkbox"/>Source</label></li>
            </ul>
        </div>
        <div class="search_list clearfix">
            <div class="title">Source Type:</div>
            <div class="search_content">
                from <input class="Wdate" type="text"
                            onclick="WdatePicker({el:'startDate',isShowClear:false,readOnly:true})"
                            onFocus="var endDate=$dp.$('endDate');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'endDate\')}'})">
                to <input class="Wdate" type="text"
                          onclick="WdatePicker({el:'endDate',isShowClear:false,readOnly:true})"
                          onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startDate\')}'})">
            </div>
        </div>
        <div class="search_list clearfix">
            <div class="censt">
                <button type="button" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-primary">Search Current Set</button>
                <button type="button" class="btn btn-primary">Export Feed List</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="s-pk-mod pic-bdle pk-title-blue" data-pkid="26">
            <h5>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg-blue">图表</div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv3'></div>
            </div>
        </div>

        <div class="s-pk-mod pic-bdle pk-title-red">
            <h5>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg-red">图表</div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv4'></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>