
<div class="panel">
        <span class="item">
            <select class="inputdate"  ng-model="dataRange" >
                <option value="7" selected="selected" >Last 7 Days</option>
                <option value="30">Last month</option>
            </select>
          <!--  {{searchDate.starttime}}-->
        </span>
        <span class="item">Or from </span>
        <span class="item"><input  bs-datepicker ng-model="dashboard.startDate" class="inputdate" type="text"></span>
        <span class="item">to</span>
        <span class="item"><input bs-datepicker ng-model="dashboard.endDate" class="inputdate" type="text"></span>
        <span class="item"><button class="btn btn-primary" ng-click="search()">Search</button></span>

</div>

        <div class="chartpanel">
            <div class="title"><span class="titlelabel">搜索来源条型图</span><span class="action"><a class="min" href="#"></a><a class="close" href="#"></a></span></div>
            <div class="content">
                <span class="loading"></span>
                <div id='canvasDiv1'></div>
            </div>
        </div>

        <div class="chartpanel">
            <div class="title"><span class="titlelabel">产品活动关键字</span><span class="action"><a class="min" href="#"></a><a class="close" href="#"></a></span></div>
            <div class="content">
                <span class="loading"></span>
                <div id='canvasDiv2'></div>
            </div>
        </div>

        <div class="chartpanel">
            <div class="title"><span class="titlelabel">情感分析图</span><span class="action"><a class="min" href="#"></a><a class="close" href="#"></a></span></div>
            <div class="content">
                <span class="loading"></span>
                <div id='canvasDiv3'></div>
            </div>
        </div>


        <div class="chartpanel">
            <div class="title"><span class="titlelabel">情感分析时间轴曲线图</span><span class="action"><a class="min" href="#"></a><a class="close" href="#"></a></span></div>
            <div class="content">
                <span class="loading"></span>
                <div id='canvasDiv4'></div>
            </div>
        </div>


        <div class="chartpanel">
            <div class="title"><span class="titlelabel">搜索来源</span><span class="action"><a class="min" href="#"></a><a class="close" href="#"></a></span></div>
            <div class="content">
                <span class="loading"></span>
                <div id='canvasDiv5'></div>
            </div>
        </div>

        <div class="chartpanel">
            <div class="title"><span class="titlelabel">Cloud Report</span><span class="action"><a class="min" href="#"></a><a class="close" href="#"></a></span></div>
            <div class="content">

                <canvas id='canvasDiv6'    width=450 height=300></canvas>
            </div>
        </div>
