<div class="mod-pk">
    <div class="left s-pk-col" style="padding-right:10px;">
        <div   class="s-pk-mod" data-pkid="28">
            <h5 class="pk-title"><span>搜索来源条型图</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv1'></div>
            </div>
        </div>
        <div   class="s-pk-mod" data-pkid="33">
            <h5 class="pk-title"><span>搜索来源饼图</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv5'></div>
            </div>
        </div>
        <div   class="s-pk-mod" data-pkid="29">
            <h5 class="pk-title"><span>产品活动关键字条形图</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv2'></div>
            </div>
        </div>

    </div>

    <div  class="right s-pk-col pack-right-col" style="padding-left:10px;">




        <div   class="s-pk-mod" data-pkid="26">
            <h5 class="pk-title"><span>情感分析图条形堆积图</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv3'></div>
            </div>
        </div>

        <div   class="s-pk-mod" data-pkid="27">
            <h5 class="pk-title"><span>情感分析时间轴曲线图</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv4'></div>
            </div>
        </div>
        <div   class="s-pk-mod" data-pkid="21">
            <h5 class="pk-title"><span>Cloud Report</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <canvas id='canvasDiv6' width="400" height="300"  ></canvas>
            </div>
        </div>
    </div>



</div>