<div class="mod-pk">
    <div class="left s-pk-col" style="padding-right:10px;">

    </div>
    <div class="left s-pk-col pack-right-col" style="padding-left:10px;">
        <div   class="s-pk-mod" data-pkid="26">
            <h5 class="pk-title"><span>图表</span>
                <a href="#" onclick="return false;" class="s-mod-close-view pk-close" title="隐藏" hidefocus=""></a>

                <div class="s-title-bg"></div>
            </h5>
            <div class="pk-content">
                <div id='canvasDiv'></div>
            </div>
        </div>

    </div>
</div>