<div class="reunioncontent">
    <div class="feeds-search-tools">
        <span>Search <input type="text"  ng-model="query"></span>
        <span>
            <select>
                <option>Last 7 Days</option>
                <option>Last month</option>
            </select>

        </span>
        <span>Or from <input type="date"> to <input type="date"> </span>
    </div>
    <div class="feeds_search_condition">
        <h2>Feeds List:{{source.brand}}（关键词表达式）</h2>

        <form novalidate  name="searchFeedForm" >
            <div class="conditions">

                <div>
                    <h4 class="condition-title">Source Type:</h4>
                    <ul class="condition-cboxs" >
                      <!--  <li ng-repeat="st in sourceType">                                                     -->
                      <!--      <label><input type="checkbox" name="{{st}}"/>{{st}}</label>                       -->
                      <!--  </li>                                                                                 -->

                      <li ng-repeat="st in sourcetype"   >
                           <label><input    type="checkbox" name="sourceType" ng-checked="st.checked"  ng-model="st.checked" value="{{st.type}}"/>{{st.type}}</label>
                      </li>
                    </ul>
                </div>
                <br>
                <hr>

                <div>
                   <h4 class="condition-title"> Professional Sites:</h4>
                    <ul>
                        <li ng-repeat="st in professionalSites">
                            <label><input   type="checkbox" name="{{st}}"/>{{st}}</label>
                        </li>
                    </ul>
                </div>
                <br>
                <hr>
                TimeFrame: <span>  from <input type="date" ng-model="feeds.startTime" name="startTime"   required=""> to <input type="date" ng-model="feeds.endTime" > </span>
                <hr>
                  <div ng-show="searchFeedForm.$invalid" class="alert alert-warning"> {{ warning }}</div>

                <div class="button-group">
                    <button class="btn btn-primary" ng-disabled='searchFeedForm.$invalid' ng-click='searchFeed()'>Search</button>
                    <input class="btn btn-primary " data-toggle="modal" ng-click="" data-target="#saveTopicModal" ng-disabled='searchFeedForm.$invalid' type="button" value="Search Current Set">
                    <input class="btn btn-primary"  ng-disabled="feedContent.length==0" ng-click="exportExcel('feedTable','feeds')"  type="button" value="Export Feed List">
                </div>

            </div>
        </form>
    </div>

    <div class="content">
        <div>

            <!--  <table  >
                  <tr ng-repeat="k in kimiss" ng-click="selectkimiss($index)" ng-class="{selected: $index==selectedRow}">
                      <td>{{k.childs| kimissList:'Title'|highlightWords:query}}</td>

                  </tr>
              </table>-->
            <table id="feedTable" class="table table-hover table-bordered table-theadBG">
                <thead>
                <tr>
                    <th>Num</th>
                    <th sortable>Title</th>
                    <th>Description</th>
                    <th>Source</th>
                    <th>Url</th>

                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="feed in feedContent"  showdetail data-toggle="modal" ng-click="showDetail(feed)" data-target="#myModal">
                    <td>{{ $index+1 }}</td>
                    <td>{{feed.Title  }} </td>
                    <td>{{feed.Content | maxlen:20  }} </td>
                    <td>{{ feed.FromSite }}</td>
                    <td>{{ feed.FromUrl }}</td>

                </tr>

                </tbody>
            </table>
            <ul class="pagination">
                <li><a href="javascript:;">&laquo;</a></li>
                <li><a href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">4</a></li>
                <li><a href="javascript:;">5</a></li>
                <li><a href="javascript:;">&raquo;</a></li>
            </ul>
        </div>

    </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{modal.title  }}</h4>
            </div>
            <div class="modal-body">
                <div>{{modal.title  }}</div>来源:{{modal.source}}
                <div>{{modal.content  }}</div>
                <div>{{modal.url  }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <div class="modal fade" id="saveTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Save Tpoic</h4>
             </div>
             <div class="modal-body">
                Topic Name: <input type="text" ng-model="topicName">
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary">Save Topic</button>
             </div>
         </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
 </div>