<div class="row">
    <pr-box box-title="'F&Q'" box-class="'col-xs-12'" box-icon="'fa-question-circle'" >
        <div class="tabs-container">
            <ul class="help-tabs tabs-inline tabs-left">
                <li class="active">
                    <a data-toggle="tab" href="#Security">
                        <i class="fa fa-lock"></i>
                        Security
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#Account">
                        <i class="fa fa-user"></i>
                        Account
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#FAQ">
                        <i class="fa fa-envelope"></i>
                        FAQ
                    </a>
                </li>
            </ul>
        </div>
        <div class="help-tab-content padding tab-content-inline" id="accordion" style="min-height:120px;">
            <div class="help-panel help-panel-default active" id="Security">
                <div class="panel-heading">
                        <a data-toggle="collapse" class="accordion" data-toggle="collapse" data-parent="#accordion" href="#securityText">
                            Security
                        </a>
                </div>
                <div id="securityText" class="panel-collapse collapse in">
                    <div class="panel-body">
                        SecurityText
                    </div>
                </div>
            </div>
            <div class="help-panel help-panel-default" id="Account">
                <div class="panel-heading">
                    <a data-toggle="collapse" class="accordion" data-toggle="collapse" data-parent="#accordion" href="#accountText">
                         Account
                    </a>
                </div>
                <div id="accountText" class="panel-collapse collapse in">
                    <div class="panel-body">
                        accountText
                    </div>
                </div>
            </div>
            <div class="help-panel help-panel-default" id="FAQ">
                <div class="panel-heading">
                    <a data-toggle="collapse" class="accordion" data-toggle="collapse" data-parent="#accordion" href="#FAQ_0_Text">
                       FAQ
                    </a>
                </div>
                <div id="FAQ_0_Text" class="panel-collapse collapse in">
                    <div class="panel-body">
                        FAQ_0_Text
                    </div>
                </div>
                <div class="panel-heading">
                    <a data-toggle="collapse" class="accordion" data-toggle="collapse" data-parent="#accordion" href="#FAQ_1_Text">
                        FAQ_1
                    </a>
                </div>
                <div id="FAQ_1_Text" class="panel-collapse collapse">
                    <div class="panel-body">
                        FAQ_1_Text
                    </div>
                </div>
                <div class="panel-heading">
                    <a data-toggle="collapse" class="accordion" data-toggle="collapse" data-parent="#accordion" href="#FAQ_2_Text">
                        FAQ_2
                    </a>
                </div>
                <div id="FAQ_2_Text" class="panel-collapse collapse">
                    <div class="panel-body">
                        FAQ_2_Text
                    </div>
                </div>
            </div>
        </div>
    </pr-box>
</div>


