
<div class="panel">
    <form novalidate  name="searchFeedForm" >
        <div class="conditionspanel">

            <div class="content">
                <div class="cell size1">Keyword:</div>
                <div class="cell size5">
                    <input type="text" ng-model="keyword" ><span class="glyphicon glyphicon-info-sign"></span>
                </div>

            </div>
            <div class="content">
                <div class="cell size1">Source Type:</div>
                <div class="cell size5">

                <span class="item" ng-repeat="st in sourcetype">
                   <label><input  class="checkbox" uniform  type="checkbox" name="sourceType" ng-checked="st.checked"  ng-model="st.checked" value="{{st.type}}"/>{{st.type}}  </label>
                </span>

                </div>
            </div>

            <div class="content" ng-hide="true">
                <div class="cell size1">Date Range:</div>
                <div class="cell size5">

                    <select>
                        <option>Last 7 Days</option>
                        <option>Last month</option>
                    </select>


                    TimeFrame: <span>
                from
               <!-- <input data-date-format="dd/mm/yyyy" bs-datepicker type="text"  ng-model="feeds.startTime" name="startTime"   required="">-->

                    <input   bs-datepicker type="text"  ng-model="feeds.startTime" name="startTime"   required="">

                to
                <input    bs-datepicker type="text" ng-model="feeds.endTime" > </span>
                    <div ng-show="searchFeedForm.$invalid" class="alert alert-warning"> {{ warning }}</div>

                </div>
            </div>

            <div class="content">
                <div class="cell size1"></div>
                <div class="cell size5">


                    <button title="Topic Not null" class="btn btn-primary" data-toggle="modal" ng-click="" data-target="#saveTopicModal"
                            ng-disabled='searchFeedForm.$invalid||!!!keyword'>Add Topic
                    </button>
                    <button   class="btn btn-primary" data-toggle="modal" ng-click="" data-target="#addGroupModal" >Add Group </button>

                </div>
            </div>

        </div>
    </form>
</div>

<div class="panel">


    <table id="css_table" class="table">
        <thead>
        <tr>
            <td class="w30">No.</td>
            <td class="w150">Group Name</td>
            <td class="w100">Description</td>
            <td class="last">Action</td>
        </tr>
        </thead>
        <tbody ng-repeat="group in groups" showdetail>
        <tr>
            <td class=" openlist" data-id="{{group._id}}" data-queryover="0"  showtopictable  >{{ $index+1 }} </td>
            <td class=" w150">{{group.Name }}</td>
            <td class=" w100">{{group.Description }}</td>
            <td class="last"> <button class="btn btn-primary" data-toggle="modal" ng-click="editAlert(alert)"
                                      data-target="#saveReportModal">Delete</button></td>
        </tr>
        <tr class="subrow">
            <td colspan="7" class="subrowtd">
               <!-- <table class="subtable">
                    <tr class="thead">
                        <td class="w30">N0.</td>
                        <td sortable>Title</td>
                        <td>Description</td>
                        <td>Source</td>
                        <td>Url</td>
                    </tr>
                    <tr class="tbody" ng-repeat="feed in feedContent" showdetail data-toggle="modal" ng-click="showDetail(feed)" data-target="#myModal">
                        <td>{{ $index+1 }}</td>
                        <td>{{feed.Title| maxlen:20  }} </td>
                        <td>{{feed.Content | maxlen:40  }} </td>
                        <td>{{ feed.FromSite | maxlen:40}}</td>
                        <td><a ng-href="feed.FromUrl">{{feed.FromUrl}}</a></td>
                    </tr>
                </table>-->
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Group</h4>
            </div>
            <div class="modal-body">
                Group  Name: <input type="text" ng-model="topicGroupName" >   <br>
                Description: <textarea   ng-model="topicGroupDescription" ></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-disabled="!!!topicGroupName" class="btn btn-primary" ng-click="saveTopicGroup()">Save
                    Group
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="saveTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are your sure save the topic?</h4>
            </div>
            <div class="modal-body">

                <!--  Topic Name: <input type="text" ng-model="topicName" required="不能为空">
 -->            Topic Name: <input type="text" ng-model="topicName" >
                Group: <select  ng-model="topicGroupName">
                <option ng-repeat="group in groups"  value="{{group._id}}">{{group.Name}}</option>
                </select>
                  11{{topicGroupName}}
                <div ng-show="!!saveTopicWarning" class="alert alert-success"> {{ saveTopicWarning }}</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-disabled="!!!topicName" class="btn btn-primary" ng-click="saveTopic()">Save
                    Topic
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>