.lightred {
    background: #e63a3a;
}

.satgreen {
    background: #56af45;
}
.blue {
    background: #368ee0;
}
.green, .label-green {
    background: #393;
}
.orange, .label-orange {
    background: #f8a31f;
}
.stats{
    padding: 0
}
.stats>li i {
    font-size: 36px;
    color: #fff;
    float: left;
    margin: 0;
;
}
.w5-p {
    width: 5%;
}

.w12-p {
    width: 12%;
}

.w39-p {
    width: 39.5%
}

.w12-p {
    width: 12%;
}

.w15-p {
    width: 15%
}

.w24-p {
    width: 24.5%;
}

.nopadding {
    padding: 0 !important;
}
.selected {
    background: #ddd;
    color: #222;
}